* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('img/fondo.jpg');
}

.form {
    width: 600px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.form h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.form p {
    height: 40px;
    text-align: left;
    font-size: 18px;
    line-height: 40px;
}

#container {
    margin-top: 25px;
    font-size: 20px;
}

#imgTag {
    width: 250px;
    height: 150px;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.parrafo {
    color: #000;
    text-align: left;
}

.form-btn {
    width: 55%;
    background: #1f53c5;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

#text-container {
    display: flex;
    flex-direction: column;
}

#img-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}